{% extends 'clean_web_linegraph/line_graph_parent.html' %}
{% block line_graph_body %}
{% load staticfiles %}
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="blog_news">
                    <div class="single_blog_item">
                        <div id="container1">
                        </div>
                        <script>
                            make_line_graph_date('1', '최근 1달', {{data.day.date | safe}}, {{data.day.count | safe}});
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="blog_news">
                    <div class="single_blog_item">
                        <div id="container2">
                        </div>
                        <script>
                            make_line_graph_date('2', '최근 3달', {{data.week.date | safe}}, {{data.week.count | safe}});
                        </script>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="blog_news">
                    <div class="single_blog_item">
                        <div id="container3">
                        </div>
                        <script>
                            make_line_graph_date('3', '최근 1년', {{data.month.date | safe}}, {{data.month.count | safe}});
                        </script>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="blog_news">
                    <div class="single_blog_item">
                        <div id="container4">
                        </div>
                        <script>
                            make_line_graph_date('4', '최근 5년', {{data.year.date | safe}}, {{data.year.count | safe}});
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock line_graph_body %}